
@{
    ViewData["Title"] = "Yetkisiz Erişim";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Kutuphane Otomasyonu</title>
    <!-- Core CSS - Include with every page -->
    <link href="~/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/main-style.css" rel="stylesheet" />

    <!-- Page-Level CSS -->
    <link href="~/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />

</head>

<body class="body-Login-back">
    <div class="container">

        <div class="row">
           
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Yetkisiz Erişim</h3>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title">Yetkinizin olmadığı bir sayfaya erişmeye çalıştınız. Sayfa görüntülenemiyor. </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>