<nav class="sidebar sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="sidebar-collapse">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Ana Sayfa</span>
            </a>
        </li>
        <li class="nav-item nav-category">Üye İşlemleri</li>
        <li class="nav-item"> <a class="nav-link" href="/Admin/UserListAll">Üyeleri Listele</a></li>
        <li class="nav-item"> <a class="nav-link" href="/Admin/UserAddPage">Yeni Üye Ekle</a></li>


        <li class="nav-item nav-category">Kitap İşlemleri</li>
        <li class="nav-item"> <a class="nav-link" href="/Admin/BookListAllByAdmin">Kitapları Listele</a></li>
        <li class="nav-item"> <a class="nav-link" href="/Admin/BookAddPage">Yeni Kitap Ekle</a></li>
        <li class="nav-item"> <a class="nav-link" href="/Admin/IadePage">Kitap İadesi</a></li>
        <br />
        <br />
        <li class="nav-item nav-category"> <a class="nav-link" href="/User/Logout">Çıkış Yap</a></li>

    </ul>
    </div>
</nav>  